---
import Layout from "../layouts/Layout.astro";
import RoadMap from "../assets/RoadMap.svg";
import { getEntry } from "astro:content";

const courses = (await getEntry("lessons", "courses")).data.courses.map(
    (c) => c.slug
);
---

<Layout>
    <br />
    <div class="d-flex justify-content-center" style="color: white">
        <div>
            <h1>Simplified Coding</h1>
        </div>
    </div>
    <br />
    <div
        class="d-flex justify-content-center"
        style="color: white; padding-left: 50px; padding-right: 50px"
    >
        <div
            class="p-3 text-warning-emphasis bg-warning border-warning rounded-3"
        >
            Αγαπητοί χρήστες, ο χάρτης μας δυστυχώς δεν λειτουργεί σε browser
            βασισμένοι σε Chromium (π.χ. Chrome, Edge, Brave, Opera).
            <br />
            Η ομάδα του Simplified Coding εργάζεται για να διορθώσει το πρόβλημα
            όσο το δυνατόν συντομότερα.
        </div>
    </div>
    <br />
    <div
        class="d-flex justify-content-center"
        style="color: white; padding-left: 50px; padding-right: 50px; font-size: 24px"
    >
        <div>
            <p>
                Καλωσορίσατε στο Simplified Coding. Εαν δεν ξέρετε με πιο μάθημα
                θέλετε να ξεκινήσετε, μπορείτε να ακολουθήσετε τον χάρτη μας που
                θα σας βοηθήσει να επιλέξετε το κατάλληλο μάθημα για εσάς.
                Μπορείτε επιπλέον να διαλέξετε μια από τις τρείς κατευθύνσεις
                που προσφέρουμε, αφού ολοκληρώσετε τα βασικά μας μαθήματα.
            </p>
        </div>
    </div>
    <br />
    <div id="doc-body"></div>
    <div id="doc-body-mobile"></div>
    <div class="d-flex justify-content-center">
        <div style="background-color: #A46AC9; width: 60vw; height: 80vh">
            <object
                id="svg-roadmap"
                type="image/svg+xml"
                style="width: inherit; height: inherit; border:1px solid black; "
                data={RoadMap}
                aria-label="Εάν δεν μπορείτε να έχετε πρόσβαση στον χάρτη του Simplified Coding, μπορείτε να μπείτε στον κατάλογο μαθημάτων μας και να επιλέξετε το μάθημα που θέλετε να ακολουθήσετε"
            ></object>
        </div>
    </div>
    <br />
    <br />

    <script>
        import svgPanZoom from "svg-pan-zoom";

        window.onload = () => {
            svgPanZoom("#svg-roadmap", {
                zoomEnabled: true,
                controlIconsEnabled: true,
                mouseWheelZoomEnabled: false,
            });

            window.meta();
        };
    </script>

    <script data-courses={JSON.stringify(courses)} id="svg">
        function goToCourse(course) {
            window.location.pathname = `/lessons/view/${course}`;
        }

        window.meta = () => {
            JSON.parse(
                document.getElementById("svg").getAttribute("data-courses")
            ).forEach((c) => {
                console.log(c);
                document
                    .getElementById("svg-roadmap")
                    .contentDocument.children[0].getElementById(
                        `svg-${c}-completed`
                    ).style = "display: none";

                document
                    .getElementById("svg-roadmap")
                    .contentDocument.children[0].getElementById(
                        `svg-${c}`
                    ).onclick = () => goToCourse(c);
                document
                    .getElementById("svg-roadmap")
                    .contentDocument.children[0].getElementById(
                        `svg-${c}-text`
                    ).onclick = () => goToCourse(c);
            });
        };
    </script>
</Layout>
