---
import Layout from "../layouts/Layout.astro";
import CardHeader from "../components/Bootstrap/CardHeader.astro";
---

<Layout>
    <br /><br />
    <div style="color: white" data-bs-theme="dark" id="doc-body">
        <div class="d-flex justify-content-center">
            <div>
                <h1>
                    <strong>Simplified Coding</strong>
                </h1>
            </div>
        </div>
        <div class="d-flex justify-content-start m-5">
            <div>
                <h2>
                    Επιλέξτε μια κατεύθυνση και ξεκινήστε το ταξίδι σας με τον
                    προγραμματισμό.
                </h2>
                <h5>
                    Μπορείτε να επιλέξετε <strong>κατασκευή ιστοσελίδων</strong
                    >, <strong
                        >Βασικές έννοιες προγραμματισμού με την Python</strong
                    >, ή <strong>ρομποτική με Arduino</strong>
                </h5>
                <br />

                <div>
                    Ακολουθήστε μας στα <strong>social media</strong> μας.
                    <br />
                    <div>
                        <a href="https://links.simplifiedcoding.org/github"
                            ><i
                                class="fa-brands fa-square-github m-1"
                                style="font-size: 38px"></i></a
                        >
                        <a href="https://links.simplifiedcoding.org/linkedin"
                            ><i
                                class="fa-brands fa-linkedin m-1"
                                style="font-size: 38px"></i></a
                        >
                        <a href="https://links.simplifiedcoding.org/discord"
                            ><i
                                class="fa-brands fa-discord m-1"
                                style="font-size: 38px"></i></a
                        >
                        <a href="https://links.simplifiedcoding.org/twitter"
                            ><i
                                class="fa-brands fa-square-twitter m-1"
                                style="font-size: 38px"></i></a
                        >
                        <a href="https://links.simplifiedcoding.org/youtube"
                            ><i
                                class="fa-brands fa-youtube m-1"
                                style="font-size: 38px"></i></a
                        >
                        <a href="https://links.simplifiedcoding.org/instagram"
                            ><i
                                class="fa-brands fa-instagram m-1"
                                style="font-size: 38px"></i></a
                        >
                        <a href="https://links.simplifiedcoding.org/tiktok"
                            ><i
                                class="fa-brands fa-tiktok m-1"
                                style="font-size: 38px"></i></a
                        >
                    </div>
                </div>
                <br />
            </div>
            <div>
                <CardHeader
                    card_header="Κατεύθυνση"
                    card_title="Δημιουργία Ιστοσελίδων"
                    card_button_visible={false}
                >
                    Θέλετε να κατασκευάσετε την δικιά σας ιστοσελίδα;
                    <br />
                    Ξεκινήστε με την <strong>HTML</strong> για το σώμα της ιστοσελίδας
                    σας, <strong>CSS</strong> για να προσθέσετε στύλ και <strong
                        >Javascript</strong
                    > για να την κάνετε διαδραστική.
                    <br />
                    Στο Simplified Coding σας παρέχουμε τα εργαλεία που θα χρειαστείτε
                    για μάθετε πως να φτιάξετε την δικιά σας ιστοσελίδα.
                    <br />
                    Η ομάδα του Simplified Coding προτείνει να αρχίσετε με
                    <strong>HTML</strong>, στην συνέχεια να μάθετε <strong
                        >CSS</strong
                    > και τέλος <strong>Javascript</strong>.
                    <div slot="btns">
                        <a href="/lessons/view/html/" class="btn btn-primary"
                            >Μάθετε HTML</a
                        ><br/><br />
                        <a href="/lessons/view/css/" class="btn btn-primary"
                            >Μάθετε CSS</a
                        ><br /><br />
                        <a
                            href="/lessons/view/javascript/"
                            class="btn btn-primary">Μάθετε Javascript</a
                        >
                    </div>
                </CardHeader>
                <br />
                <CardHeader
                    card_header="Κατεύθυνση"
                    card_title="Βασικές έννοιες προγραμματισμού"
                    card_button_visible={false}
                >
                    Σας ενδιαφέρει να μάθετε μια εύκολη γλώσσα προγραμματισμού
                    για να ξεκινήσετε;
                    <br />
                    Η <strong>Python</strong> είναι η γλώσσα που χρειάζεστε.
                    <br />
                    Το Simplified Coding σου παρέχει <strong
                        >το online editor μας</strong
                    > που θα σας παρέχει την δυνατότητα να γράψετε κώδικα και να
                    τον τρέξετε, χωρίς να χρειαστείτε να κατεβάσετε κάποιο άλλο πρόγραμμα.
                    <br />
                    <div slot="btns">
                        <a href="/lessons/view/python/" class="btn btn-primary"
                            >Μάθετε Python</a
                        >
                    </div>
                </CardHeader>
                <br />
                <CardHeader
                    card_header="Κατεύθυνση"
                    card_title="Ρομποτική"
                    card_button_visible={false}
                >
                    Σας ενδιαφέρει η <strong>ρομποτική</strong>;
                    <br />
                    Μπορείτε να ξεκινήσετε με τα εργαλεία που σας προσφέρει η πλατφόρμα
                    της <strong>Arduino</strong>.
                    <br />
                    <div slot="btns">
                        <a href="/lessons/view/arduino/" class="btn btn-primary"
                            >Μάθετε Arduino</a
                        >
                    </div>
                </CardHeader>
            </div>
        </div>
        <br />
    </div>
    <div
        id="doc-body-mobile"
        class="d-flex justify-content-center"
        style="color: white"
    >
        <div>
            <h1 class="text-center">
                Καλωσορίσατε στο <strong class="text-decoration-underline"
                    >Simplified Coding</strong
                >
            </h1>
            <div class="m-4">
                <div class="alert alert-warning" role="alert">
                    Το <strong>editor</strong> του <strong
                        >Simplified Coding</strong
                    >, είναι κατασκευασμένο για υπολογιστές. Συγκεκριμένα για
                    συσκευές που έχουν τουλάχιστον 700px
                </div>
            </div>
            <hr />
            <div>
                <div class="m-3">
                    <h2>
                        Επιλέξτε μια κατεύθυνση και ξεκινήστε το ταξίδι σας με
                        τον προγραμματισμό.
                    </h2>
                    <h5>
                        Μπορείτε να επιλέξετε <strong
                            >κατασκευή ιστοσελίδων</strong
                        >, <strong
                            >Βασικές έννοιες προγραμματισμού με την Python</strong
                        >, ή <strong>ρομποτική με Arduino</strong>
                    </h5>
                </div>
                <br />
                <div class="m-2" data-bs-theme="dark">
                    <CardHeader
                        card_header="Κατεύθυνση"
                        card_title="Δημιουργία Ιστοσελίδων"
                        card_button_visible={false}
                    >
                        Θέλετε να κατασκευάσετε την δικιά σας ιστοσελίδα;
                        <br />
                        Ξεκινήστε με την <strong>HTML</strong> για το σώμα της ιστοσελίδας
                        σας, <strong>CSS</strong> για να προσθέσετε στύλ και <strong
                            >Javascript</strong
                        > για να την κάνετε διαδραστική.
                        <br />
                        Στο Simplified Coding σας παρέχουμε τα εργαλεία που θα χρειαστείτε
                        για μάθετε πως να φτιάξετε την δικιά σας ιστοσελίδα.
                        <br />
                        Η ομάδα του Simplified Coding προτείνει να αρχίσετε με
                        <strong>HTML</strong>, στην συνέχεια να μάθετε <strong
                            >CSS</strong
                        > και τέλος <strong>Javascript</strong>.
                        <div>
                            <a
                                href="/lessons/view/html/"
                                class="btn btn-primary m-2"
                                style="width: 50vw">Μάθετε HTML</a
                            >
                            <a
                                href="/lessons/view/css/"
                                class="btn btn-primary m-2"
                                style="width: 50vw">Μάθετε CSS</a
                            >
                            <a
                                href="/lessons/view/javascript/"
                                class="btn btn-primary m-2"
                                style="width: 50vw">Μάθετε Javascript</a
                            >
                        </div>
                    </CardHeader>
                    <br />
                    <CardHeader
                        card_header="Κατεύθυνση"
                        card_title="Βασικές έννοιες προγραμματισμού"
                        card_button_visible={false}
                    >
                        Σας ενδιαφέρει να μάθετε μια εύκολη γλώσσα
                        προγραμματισμού για να ξεκινήσετε;
                        <br />
                        Η <strong>Python</strong> είναι η γλώσσα που χρειάζεστε.
                        <br />
                        Το Simplified Coding σου παρέχει <strong
                            >το online editor μας</strong
                        > που θα σας παρέχει την δυνατότητα να γράψετε κώδικα και
                        να τον τρέξετε, χωρίς να χρειαστείτε να κατεβάσετε κάποιο
                        άλλο πρόγραμμα.
                        <br />
                        <div slot="btns">
                            <a
                                href="/lessons/view/python/"
                                class="btn btn-primary">Μάθετε Python</a
                            >
                        </div>
                    </CardHeader>
                    <br />
                    <CardHeader
                        card_header="Κατεύθυνση"
                        card_title="Ρομποτική"
                        card_button_visible={false}
                    >
                        Σας ενδιαφέρει η <strong>ρομποτική</strong>;
                        <br />
                        Μπορείτε να ξεκινήσετε με τα εργαλεία που σας προσφέρει η
                        πλατφόρμα της <strong>Arduino</strong>.
                        <br />
                        <div slot="btns">
                            <a
                                href="/lessons/view/arduino/"
                                class="btn btn-primary">Μάθετε Ρομποτική</a
                            >
                        </div>
                    </CardHeader>
                </div>
            </div>
            <div class="m-3">
                Ακολουθήστε μας στα <strong>social media</strong> μας.
                <br />
                <div>
                    <a href="https://links.simplifiedcoding.org/github"
                        ><i
                            class="fa-brands fa-square-github m-1"
                            style="font-size: 38px"></i></a
                    >
                    <a href="https://links.simplifiedcoding.org/linkedin"
                        ><i
                            class="fa-brands fa-linkedin m-1"
                            style="font-size: 38px"></i></a
                    >
                    <a href="https://links.simplifiedcoding.org/discord"
                        ><i
                            class="fa-brands fa-discord m-1"
                            style="font-size: 38px"></i></a
                    >
                    <a href="https://links.simplifiedcoding.org/twitter"
                        ><i
                            class="fa-brands fa-square-twitter m-1"
                            style="font-size: 38px"></i></a
                    >
                    <a href="https://links.simplifiedcoding.org/youtube"
                        ><i
                            class="fa-brands fa-youtube m-1"
                            style="font-size: 38px"></i></a
                    >
                    <a href="https://links.simplifiedcoding.org/instagram"
                        ><i
                            class="fa-brands fa-instagram m-1"
                            style="font-size: 38px"></i></a
                    >
                    <a href="https://links.simplifiedcoding.org/tiktok"
                        ><i
                            class="fa-brands fa-tiktok m-1"
                            style="font-size: 38px"></i></a
                    >
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
</Layout>
