---
import Layout from "../layouts/Layout.astro";
import RoadMap from "../assets/RoadMap.svg"
import {getEntry} from "astro:content";

const courses = (await getEntry("lessons", "courses")).data.courses.map(c => c.slug)
---

<Layout>
  <br/>
  <div class="d-flex justify-content-center" style="color: white">
    <div>
      <h1>Simplified Coding</h1>
    </div>
  </div>
  <br/>
  <div class="d-flex justify-content-center" style="color: white; padding-left: 50px; padding-right: 50px">
    <div class="p-3 text-primary-emphasis bg-primary-subtle border-primary-subtle rounded-3">
      Η ομάδα του Simplified Coding σας εύχεται χρόνια πολλά και καλή χρονιά!
    </div>
  </div>
  <br/>
  <div class="d-flex justify-content-center" style="color: white; padding-left: 50px; padding-right: 50px; font-size: 24px">
    <div>
      <p>
        Καλωσορίσατε στο Simplified Coding. Εαν δεν ξέρετε με πιο μάθημα θέλετε να ξεκινήσετε,
        μπορείτε να ακολουθήσετε τον χάρτη μας που θα σας βοηθήσει να επιλέξετε το κατάλληλο μάθημα για εσάς.
        Μπορείτε επιπλέον να διαλέξετε μια από τις τρείς κατευθύνσεις που προσφέρουμε,
        αφού ολοκληρώσετε τα βασικά μας μαθήματα.
      </p>
    </div>
  </div>
  <br/>
  <div id="doc-body"></div>
  <div id="doc-body-mobile"></div>
  <div class="d-flex justify-content-center">
    <div style="background-color: #A46AC9; width: 60vw; height: 80vh">
      <object id="svg-roadmap" type="image/svg+xml" style="width: inherit; height: inherit; border:1px solid black; "
              data={RoadMap}/>
    </div>
  </div>
  <br/>
  <br/>

  <script>
    import svgPanZoom from "svg-pan-zoom"

    window.trigger = function () {
      svgPanZoom('#svg-roadmap', {
        zoomEnabled: true,
        controlIconsEnabled: true,
        mouseWheelZoomEnabled: false
      });
    };
  </script>

  <script data-courses={JSON.stringify(courses)} id="svg">


    function goToCourse(course) {
      window.location.pathname = `/lessons/view/${course}`
    }

    window.onload = () => {
      window.trigger()

      JSON.parse(document.getElementById("svg").getAttribute("data-courses")).forEach(c => {
        console.log(c)
        document.getElementById("svg-roadmap").contentDocument.children[0].getElementById(`svg-${c}-completed`).style = "display: none"

        document.getElementById("svg-roadmap").contentDocument.children[0].getElementById(`svg-${c}`).onclick = () => goToCourse(c)
        document.getElementById("svg-roadmap").contentDocument.children[0].getElementById(`svg-${c}-text`).onclick = () => goToCourse(c)
      })
    }
  </script>
</Layout>
