---
import Layout from "../layouts/Layout.astro";
import RoadMap from "../assets/RoadMap.svg";
---

<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->
<Layout>
    <br />
    <div class="d-flex justify-content-center" style="color: white">
        <div>
            <h1>Simplified Coding</h1>
        </div>
    </div>
    <div
        class="d-flex justify-content-center"
        style="color: white; padding-left: 50px; padding-right: 50px; font-size: 24px"
    >
        <div>
            <p>
                Καλωσορίσατε στο Simplified Coding. Εαν δεν ξέρετε με πιο μάθημα
                θέλετε να ξεκινήσετε, μπορείτε να ακολουθήσετε τον χάρτη μας που
                θα σας βοηθήσει να επιλέξετε το κατάλληλο μάθημα για εσάς.
                Μπορείτε επιπλέον να διαλέξετε μια από τις τρείς κατευθύνσεις
                που προσφέρουμε, αφού ολοκληρώσετε τα βασικά μας μαθήματα.
            </p>
        </div>
    </div>
    <br />
    <div id="doc-body"></div>
    <div id="doc-body-mobile"></div>
    <div class="d-flex justify-content-center">
        <div style="background-color: #A46AC9; width: 60vw; height: 80vh">
            <object
                id="svg-roadmap"
                type="image/svg+xml"
                style="width: inherit; height: inherit; border:1px solid black; "
                data={RoadMap}
                aria-label="Εάν δεν μπορείτε να έχετε πρόσβαση στον χάρτη του Simplified Coding, μπορείτε να μπείτε στον κατάλογο μαθημάτων μας και να επιλέξετε το μάθημα που θέλετε να ακολουθήσετε"
            ></object>
        </div>
    </div>
    <br />
    <br />

    <script>
        import svgPanZoom from "svg-pan-zoom";

        const installZoom = () => {
            svgPanZoom("#svg-roadmap", {
                zoomEnabled: true,
                controlIconsEnabled: true,
                mouseWheelZoomEnabled: false,
            });

            window.onSVGLoad();
        };

        window.onload = () => {
            setTimeout(installZoom, 2500);
        };
    </script>

    <script data-courses={JSON.stringify({})} id="svg">
        function goToCourse(course) {
            window.location.pathname = `/lessons/view/${course}`;
        }

        window.onSVGLoad = async () => {
            const courses = await fetch("https://pb.simplifiedcoding.org/api/collections/sc_courses/records")
                .then((data) => data.json())
                .then((data) => data.items.map(v => v.slug))

            courses.forEach((c) => {
                document
                    .getElementById("svg-roadmap")
                    .contentDocument.children[0].getElementById(
                        `svg-${c}-completed`
                    ).style = "display: none";

                document
                    .getElementById("svg-roadmap")
                    .contentDocument.children[0].getElementById(
                        `svg-${c}`
                    ).onclick = () => goToCourse(c);
                document
                    .getElementById("svg-roadmap")
                    .contentDocument.children[0].getElementById(
                        `svg-${c}-text`
                    ).onclick = () => goToCourse(c);
            });
        };
    </script>
</Layout>
