---
import {removeLesson} from "../lib/lessonTracking";
interface Props {
  lesson: {
    slug: string, title: string, description: string
  };
  course: {viewOnly: boolean, slug: string}
}

const {lesson, course} = Astro.props
---

<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

<div id="doc-body">
  <div class="flex justify-evenly">
    <div class="border-none w-[22vw]">
      <h1
        class="text-center text-2xl font-semibold underline"
        id={`${lesson.slug}-status`}
      >
        Μάθημα {lesson.slug.split("_")[1]}
      </h1>

      <h3 class="text-center">
        {lesson.title}
      </h3>
    </div>

    <div
      class="border-none my-4 w-[24vw] text-center px-2"
    >
      <p>{lesson.description}</p>
    </div>

    <div>
      <button
        onclick={`window.open("/view/${Astro.params.lang}?lesson=${lesson.slug}", "_self")`}
        class="my-4 bg-indigo-800 hover:bg-indigo-600 text-sc-white px-4 py-2 rounded"
      >
        Άρχισε (χωρίς τον editor)
      </button>
      <button
        onclick={`window.open("/editor/${Astro.params.lang}?lesson=${lesson.slug}", "_self")`}
        class="my-4 bg-indigo-800 hover:bg-indigo-600 text-sc-white px-4 py-2 rounded"
        disabled={course.viewOnly == true}
      >
        Άρχισε (με τον editor)
      </button>

      <button class="my-4 bg-gray-800 hover:bg-gray-600 disabled:bg-gray-900 text-sc-white px-4 py-2 rounded" disabled>
        Aσκησεις
      </button>

      <button class="my-4 undo-completed-lesson bg-red-800 hover:bg-red-600 text-sc-white px-4 py-2 rounded" data-lesson={lesson.slug} data-course={course.slug}>
        Αναίρεση Ολοκλήρωσης Μαθήματος
      </button>
    </div>
  </div>
</div>