---
const { id } = Astro.props;
---

<div class="accordion m-3" id={`optionalTask-${id}`} data-bs-theme="dark">
  <div class="accordion-item">
    <h2 class="accordion-header" id={`heading-${id}`}>
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target={`#collapse-${id}`}
        aria-controls={`collapse-${id}`}
      >
        Εργασία
      </button>
    </h2>
    <div
      id={`collapse-${id}`}
      class="accordion-collapse collapse"
      aria-labelledby={`heading-${id}`}
      data-bs-parent={`#optionalTask-${id}`}
    >
      <div class="accordion-body"><slot /></div>
    </div>
  </div>
</div>
