---
const {
  card_header = "",
  card_title = "",
  card_button_href = "",
  card_button_text = "",
  card_button_visible = true,
  card_style = "",
  card_id = ""
} = Astro.props;
---

<div class="card" style={card_style} id={card_id}>
  <div class="card-header card-bold" id={`${card_id}-header`}>{card_header}</div>
  <div class="card-body" id={`${card_id}-body`}>
    <h5 class="card-title card-bold" id={`${card_id}-title`}>
      <slot name="pre-title"/>
      {card_title}
    </h5>
    <p class="card-text">
      <slot/>
    </p>
    <a
      href={card_button_href}
      class="btn btn-primary"
      hidden={!card_button_visible}>{card_button_text}</a
    >
    <slot name="btns"/>
  </div>
</div>

<style>
    * {
        font-family: "Roboto", sans-serif;
    }

    .card-bold {
        font-weight: 700;
    }
</style>
