<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
const {
  card_header = "",
  card_title = "",
  card_button_href = "",
  card_button_text = "",
  card_button_visible = true,
  card_style = "",
  card_id = ""
} = Astro.props;
---

<div class="rounded-lg bg-sc-card-bg text-sc-white border border-sc-card-bg-light px-8 py-4" style={card_style} id={card_id}>
  <div class="font-semibold text-2xl border-b mb-4 border-sc-card-bg-light bg-sc-card-header" id={`${card_id}-header`}>{card_header}</div>
  <div class="bg-sc-card-bg mb-2" id={`${card_id}-body`}>
    <h5 class="text-sc-white text-xl" id={`${card_id}-title`}>
      <slot name="pre-title"/>
      {card_title}
    </h5>

    <p class="text-sc-white bg-sc-card-bg">
      <slot/>
    </p>
  
    <br>

    <a
      href={card_button_href}
      class="bg-indigo-800 hover:bg-indigo-600 text-sc-white px-4 py-2 rounded"
      hidden={!card_button_visible}>{card_button_text}</a
    >

    <slot name="btns"/>
  </div>
</div>

<style>
    * {
        font-family: "Roboto", sans-serif;
    }

    .card-bold {
        font-weight: 700;
    }
</style>
