<!--
SPDX-FileCopyrightText: 2024 The Simplified Coding Team <main@simplifiedcoding.org>

SPDX-License-Identifier: GPL-3.0-only
-->

---
let {lesson_title, icon, lesson_time, lesson_difficulty, prior_knowledge, progress } = Astro.props

const difficulty = Math.min(Math.max(lesson_difficulty, 0), 5);
const unfilled_stars = 5 - difficulty;

const need_prior_knowledge = prior_knowledge && prior_knowledge.length > 0;

const cyrcle_colors = ["text-green-500", "text-lime-500", "text-yellow-500", "text-orange-500", "text-red-500"];
const cyrcle_color_filling = cyrcle_colors[difficulty - 1];
---

<div class="flex flex-col justify-evenly bg-lessons_desc rounded-lg p-4 m-4">
    <h2 class="flex flex-row items-center justify-between bg-lessons_title text-lessons_text font-semibold text-xl pl-5 py-2 rounded-lg"> 
        <div> <i class={icon}></i> {lesson_title} </div>
        
        <div class="float-end pr-10"> Χρόνος μαθήματος:  
            <div class="inline-block">
                {lesson_time} Ώρες
            </div>
        </div>

        <div class="float-end pr-10"> Δυσκολία:     
            <div class="inline-block">
                <span class={cyrcle_color_filling}>
                    {Array.from({ length: difficulty }, (_, i) => (
                        <i class="fa-solid fa-circle ml-1" key={i}></i> 
                    ))}
                </span>
                <span class="text-gray-300 -ml-1.5">
                    {Array.from({ length: unfilled_stars }, (_, i) => (
                        <i class="fa-regular fa-circle ml-1" key={difficulty + i}></i> 
                    ))}
                </span>
            </div>
        </div>

        <div class=" float-end inline-block pr-10">
            {need_prior_knowledge ? (
                <div> Χρειάζεται προηγούμενη γνώση 
                    <div class="inline-block">
                        {prior_knowledge}
                    </div>
                </div>
            ) : (
                <div> Δεν χρειάζεται προηγούμενη γνώση </div>
            )}
        </div>

    </h2>

    <progress id= "progress" value= {progress} max="100" class="w-full rounded-[100px] bg-gray-700 mt-4">
    </progress>

</div>

<style>
    .progress{
        border-radius: 10px;
    }
  
    progress::-webkit-progress-bar {
        border-radius: 10px;
    }
  
    progress::-webkit-progress-value {
        border-radius: 10px;
    }
  
    progress::-moz-progress-bar {
        border-radius: 10px;
    }
</style>