---
let { lesson_description, lesson_link, lesson_title, icon } = Astro.props
---

<div class="bg-lessons_desc mt-12 rounded-lg p-4 m-4">
    <h2 class="bg-lessons_title text-lessons_text font-semibold text-xl pl-5 py-2 rounded-lg"> {lesson_title} </h2>
    <h2 class="bg-lessons_desc text-lessons_text font-bold text-2xl py-2 pl-20"> <i class={icon} ></i> {lesson_title} </h2>
    <p class="bg-lessons_desc text-lessons_text font-semibold text-base max-w-5xl pl-20 inline-block"> {lesson_description} </p>
    <a href={lesson_link}> <button type="button" class="bg-button my-2 py-2 mx-3 px-3 rounded-xl inline-block justify-center hover:bg-button_hover"> Μάθε τώρα {lesson_title} </button> </a>
</div>

<style>

</style>