---
let { lesson_description, lesson_link, lesson_title, icon, lesson_time, lesson_difficulty, prior_knowledge } = Astro.props

const difficulty = Math.min(Math.max(lesson_difficulty, 0), 5);
const unfilled_stars = 5 - difficulty;

const need_prior_knowledge = prior_knowledge && prior_knowledge.length > 0;

const cyrcle_colors = ["text-green-500", "text-lime-500", "text-yellow-500", "text-orange-500", "text-red-500"];
const cyrcle_color_filling = cyrcle_colors[difficulty - 1];
---

<div class="bg-lessons_desc mt-6 rounded-lg p-4 m-4">
    <h2 class="bg-lessons_title text-lessons_text font-semibold text-xl pl-5 py-2 rounded-lg"> 
        {lesson_title}
        
        <div class="float-end pr-10"> Χρόνος μαθήματος:  
            <div class="inline-block">
                {lesson_time} Ώρες
            </div>
        </div>

        <div class="float-end pr-10"> Δυσκολία:     
            <div class="inline-block">
                <span class={cyrcle_color_filling}>
                    {Array.from({ length: difficulty }, (_, i) => (
                        <i class="fa-solid fa-circle ml-1" key={i}></i> 
                    ))}
                </span>
                <span class="text-gray-300 -ml-1.5">
                    {Array.from({ length: unfilled_stars }, (_, i) => (
                        <i class="fa-regular fa-circle ml-1" key={difficulty + i}></i> 
                    ))}
                </span>
            </div>
        </div>

        <div class=" float-end inline-block pr-10">
            {need_prior_knowledge ? (
                <div> Χρειάζεται προηγούμενη γνώση 
                    <div class="inline-block">
                        {prior_knowledge}
                    </div>
                </div>
            ) : (
                <div> Δεν χρειάζεται προηγούμενη γνώση </div>
            )}
        </div>

    </h2>
    <br>
    <div>
        <a href={lesson_link} class="float-right"> 
            <button type="button" class="bg-button hover:bg-button_hover text-gray-800 hover:text-gray-300 my-3 py-3 mx-4 px-4 rounded-xl inline-block justify-center text-2xl font-bold"> 
                Μάθημα 
            </button> 
        </a>  
    </div>
    <div class="inline-block">
        <h2 class="bg-lessons_desc text-lessons_text font-bold text-2xl py-2 pl-20"> 
            <i class={icon}></i> {lesson_title} 
        </h2>

        <p class="bg-lessons_desc text-lessons_text font-semibold text-base max-w-5xl pl-20 inline-block"> 
            {lesson_description} 
        </p>
    </div>   
    
</div>